body {
  font-family: 'Arial', sans-serif;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95); /* Increased opacity for better contrast */
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-20px);
}

.modal-content.show {
  opacity: 1;
  transform: translateY(0);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}